<ons-page>
    <ons-progress-circular indeterminate></ons-progress-circular>
    <ons-tabbar >
        <ons-tab icon="ion-ios-paper" label="News" page="pages/news.html" active></ons-tab>
        <ons-tab icon="ion-egg" label="Rumeurs" page="pages/rumeurs.html"></ons-tab>
        <ons-tab icon="ion-headphone" label="Music" page="pages/music.html"></ons-tab>
        <ons-tab icon="ion-chatboxes" label="Tchat" page="pages/tchat.html"></ons-tab>
    </ons-tabbar>
</ons-page>