<ons-page id="login">
    <ons-toolbar>
        <div class="center">Identification</div>
    </ons-toolbar>
    <div style="text-align: center; margin-top: 30px;">
        <p>
            <ons-input id="username" modifier="underbar" placeholder="Pseudo" float></ons-input>
        </p>
        <p>
            <ons-input id="password" modifier="underbar" type="number" placeholder="PIN" float></ons-input>
        </p>
        <p style="margin-top: 30px;">
            <ons-button login>Identification</ons-button>
        </p>
        <p style="margin-top: 10px;">
            <ons-button register modifier="quiet">Creer un pseudo</ons-button>
        </p>
    </div>
</ons-page>