<ons-page id="music">
    <ons-toolbar>
        <div class="center">Music</div>
        <div class="right">
            <ons-toolbar-button settings>
                <ons-icon icon="ion-android-options"></ons-icon>  
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    
</ons-page>