<ons-page id="news">
    <ons-toolbar>
        <div class="center">News</div>
        <div class="right">
            <ons-toolbar-button settings>
                <ons-icon icon="ion-android-options"></ons-icon>  
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
</ons-page>