<ons-page id="register">
    <ons-toolbar>
        <div class="center">Creer un pseudo</div>
    </ons-toolbar>
    <div style="text-align: center; margin-top: 30px;">
        <p>
            <ons-input id="username" modifier="underbar" placeholder="Pseudo" float></ons-input>
        </p>
        <p>
            <ons-input id="password" modifier="underbar" type="number" placeholder="PIN" float></ons-input>
        </p>
        <p>
            <ons-input id="password2" modifier="underbar" type="number" placeholder="PIN (confirmation)" float></ons-input>
        </p>
        <p style="margin-top: 30px;">
            <ons-button register>Enregistrement</ons-button>
        </p>
        <p style="margin-top: 10px;">
            <ons-button login modifier="quiet">Identification</ons-button>
        </p>
    </div>
</ons-page>