<ons-page id="settings">
    <ons-toolbar>
      <div class="left"><ons-back-button>Back</ons-back-button></div>
      <div class="center">Parametres</div>
    </ons-toolbar>
    <p>Parametres page.</p>
</ons-page>