<ons-page id="tchat">
    <ons-toolbar>
        <div class="center">Tchat</div>
        <div class="right">
            <ons-toolbar-button settings>
                <ons-icon icon="ion-android-options"></ons-icon>  
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <ons-bottom-toolbar>
        <ons-row>
            <ons-col width="43px">
                <ons-button modifier="quiet large">
                    <ons-icon size="22px" icon="ion-happy-outline"></ons-icon>
                </ons-button>
            </ons-col>
            <ons-col style="
                margin-right: 5px;
            "><sendbox contentEditable ></sendbox></ons-col>
            <ons-col width="50px">
                <ons-button modifier="large send">
                    <ons-icon size="25px" icon="ion-android-send"></ons-icon>
                </ons-button>
            </ons-col>
        </ons-row>
    </ons-bottom-toolbar>
    <tchat>
        <message>
            <titre>
                <from>Amie</from>
            </titre>
            <corps>Test de message</corps>
            <titre>
                <time>21:39</time>
            </titre>
        </message>
        <message>
            <titre>
                <from>Vickychou</from>
            </titre>
            <corps>Hello how do u do ?</corps>
            <titre>
                <time>21:49</time>
            </titre>
        </message>
        <message me>
            <titre>
                <from>Oshimin</from>
            </titre>
            <corps>Hello</corps>
            <titre>
                <time>21:51</time>
            </titre>
        </message>
        <message>
            <titre>
                <from>Vickychou</from>
            </titre>
            <corps>Hello how do u do ?</corps>
            <titre>
                <time>21:51</time>
            </titre>
        </message>
        <message>
            <titre>
                <from>Bachir</from>
            </titre>
            <corps>Film was up u!</corps>
            <titre>
                <time>21:52</time>
            </titre>
        </message>
        <message>
            <titre>
                <from>Oshimin</from>
            </titre>
            <corps>Just outing</corps>
            <titre>
                <time>21:52</time>
            </titre>
        </message>
    </tchat>
</ons-page>