<ons-dialog id="dialog-loading">
  <div style="text-align: center; padding: 10px;">
      <ons-progress-circular indeterminate></ons-progress-circular><br>
      <span text></span>
  </div>
</ons-dialog>