#tchat ons-bottom-toolbar ons-row{
    border-top: 2px solid #c7cac8;    
}
#tchat sendbox {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 28px;
    max-height: 150px;
    border: none;
    font-size: 18px;
    border-bottom: 2px solid #c7cac8;
    resize: none;
    outline: none;
    padding-top: 7px;
    overflow: auto;
}
#tchat sendbox:focus{
    border-bottom-color: #4383CE;
}
tchat {
    display: block;
    width: 100%;
    height: 100%;
}
tchat message{
font-size: 14px;
    margin: 7px;
    border-left: 5px solid rgb(255, 112, 0) !important;
    padding: 0px 11px;
    padding-left: 10px;
    background-color: rgb(247, 247, 214);
    float: left;
    clear: both;
    border-radius: 0 7px 7px 0;
}

tchat message[me]{
    border-right: 5px solid #60DF88 !important;
    background-color: rgb(239, 255, 241);
    float: right;
    border-left: 0px !important;
    border-radius: 7px 0 0 7px;
}

tchat message corps, tchat message titre{
    display: block;
    width: 100%;
}
tchat message corps{
    padding-top: 5px;
}
tchat message titre > *{
    display: block;
    text-align: right;
    color: #aaa;
    font-size: 95%;
    margin: 4px;
}
tchat message titre:nth-child(1){
    border-bottom: 1px solid #999;
}

tchat message[me] titre > * {
text-align: left;
}

#tchat .button--send{    
    border-radius: 0px;
    border: none;

}